<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Ali - Weather</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="site-content">
        <div class="site-header">
            <div class="container">
                <a href="index.html" class="branding">
                    <img src="/images/logo.png" alt="">
                    <div class="logo-type">
                        <h1 class="site-title">Ali - Weather</h1>
                        <small class="site-description">tagline goes here</small>
                    </div>
                </a>

                <!-- Default snippet for navigation -->
                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
                        <li class="menu-item"><a href="pages/news.html">News</a></li>
                        <li class="menu-item"><a href="pages/live-cameras.html">Live cameras</a></li>
                        <li class="menu-item"><a href="pages/photos.html">Photos</a></li>
                        <li class="menu-item"><a href="pages/contact.html">Contact</a></li>
                    </ul>
                    <!-- .menu -->
                </div>
                <!-- .main-navigation -->

                <div class="mobile-navigation"></div>

            </div>
        </div>
        <!-- .site-header -->

        <div class="hero" data-bg-image="images/icons/banner.jpg">
            <div class="container">
                <form action="/" method="post" class="find-location">
                    <input name="city" type="text" placeholder="Find your location..." required>
                    <input type="submit" value="Ask Ali for temp">
                </form>

            </div>
        </div>
        <div class="forecast-table">
            <div class="container">
                <div class="forecast-container">
                    <div class="today forecast">
                        <div class="forecast-header">
                            <div class="day"><%=info.day%></div>
                            <div class="date"><%=info.date%> - <%=info.month%></div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="location"><%=info.city%></div>
                            <div>
                                <div class="num"> 
                                     <span ><strong><%=info.temp%><sup>o</sup>F</strong></span>
                                     <div >
                                     <span class="text"><%=(info.temp -32) /1.8%> 
                                        <div style="display:inline-block;">
                                            <sup>o</sup>C</span>
                                        </div>
                                     </div>
                                      
                                </div>
                                <div class="forecast-icon">
                                    <img src="images/icons/icon-1.svg" alt="" width="90">
                                </div>
                            </div>
                            <span><img src="images/icon-umberella.png" alt=""><%=info.humi%>%</span>
                            <span><img src="images/icon-wind.png" alt=""><%=info.Wspeed%> km/h</span>
                            <span><img src="images/icon-compass.png" alt="">East</span>
                        </div>
                    </div>
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Temp</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="images/icons/temp3.png" alt="" width="48">
                            </div>
                            <div style="font-size:26;" > <span ><strong> <%=info.temp%></strong></span> <sup>o</sup>F</div>
                               
                            
                            <div style="display:inline;">
                                    <div style="display:inline;">
                                        <div style="display:inline;">
                                            <span class="text"> 
                                                <%=(info.temp -32) /1.8%> 
                                            </span>
                                        </div>
                                    </div>
                                    <div style="display:inline; float:right; position:absolute;">
                                        <div>
                                            <sup>o</sup>C
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Pressure</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="images/icons/icon-7.svg" alt="" width="48">
                            </div>
                            <div style="font-size:26;"><strong><%=info.pressure%></strong></div>
                            <small>hPa</small>
                        </div>
                    </div>
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Humidity</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="images/icons/humi.png" alt="" width="48">
                            </div>
                            <div style="font-size:26;"> <strong><%=info.humi%></strong> %</div>
                        </div>
                    </div>
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Wind speed</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="images/icons/icon-8.svg" alt="" width="48">
                            </div>
                            <div style="font-size:26;"> <strong><%=info.Wspeed%></strong> </div>
                            <small>Km/h</small>
                        </div>
                    </div>
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Country</div>
                        </div>
                        <!-- .forecast-header -->
                        <div class="forecast-content">
                            <div class="forecast-icon">
                                <img src="images/icons/flag.png" alt="" width="48">
                            </div>
                            <div style="font-size:26;"> <strong><%=info.country%></strong> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>


  </body>
</html>